@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-Bold.ttf');
}

:root {
    --blue-hex: #48A6DB;
    --blue-light-hex: #5AAFDF;
    --blue-dark-hex: #00599C;

    --dark-hex: #252422;

    --gray-hex: #ccc5b9;
    --gray-light-hex: #edf0f2;

    --green-dark-hex: #0E9F6E;

    --orange-hex: #FF7425;

    --pink-hex: #F95D83;

    --red-hex: #F2533E;

    --white-hex: #FAFDFF;

    --yellow-hex: #FFC700;

    --animation: all ease-in-out 200ms;
}

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* outline: solid 1px red; */
}

*::selection {
    color: var(--dark-hex);
    background-color: var(--gray-hex);
}

html {
    background-color: var(--white-hex);
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu-Bold', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

@media (min-width: 899px) {
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    h3 {
        font-size: 28px;
    }
    
    h4 {
        font-size: 22px;
    }
}

@media (min-width: 1439px) {
    h1 {
        font-size: 72px;
    }
    
    h2 {
        font-size: 48px;
    }
    
    h3 {
        font-size: 36px;
    }
    
    h4 {
        font-size: 28px;
    }
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons > * {
    transition: var(--animation);
}

.icons > *:hover {
    cursor: pointer;
    transform: scale(1.2);
    
    transition: var(--animation);
}

.blue {
    color: var(--blue-hex) !important;
}

.blue-dark {
    color: var(--blue-dark-hex) !important;
}

.green {
    color: var(--green-dark-hex) !important;
}

.orange {
    color: var(--orange-hex) !important;
}

.pink {
    color: var(--pink-hex) !important;
}

.red {
    color: var(--red-hex) !important;
}

.yellow {
    color: var(--yellow-hex) !important;
}

main {
    min-width: 100%;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);

    background-color: var(--white-hex);
}

/* Precentation */

#precentation {
    background-color: var(--blue-hex);
}

#precentation > div {

    width: 300px;

    margin: 0 auto;

    display: grid;
    justify-items: center;

    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 300px);
}

#profile_img {
    width: 250px;
    height: 300px;

    position: relative;
    
    overflow: hidden;
}

#profile_img > img {
    width: 100%;
    
    position: absolute;
    bottom: 0;

    filter:
    drop-shadow(8px 8px 0px var(--white-hex))
    drop-shadow(8px -8px 0px var(--white-hex))
    drop-shadow(-8px -8px 0px var(--white-hex))
    drop-shadow(-8px 8px 0px var(--white-hex))
    drop-shadow(-8px 0px 0px var(--white-hex));
}

#greeting {
    width: 100%;
    height: 100%;

    background-color: var(--blue-light-hex);
}

#greeting > article {

    width: fit-content;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: var(--white-hex)

}

#greeting .icons * {
    width: 18px;
    margin-right: 20px;
}

@media (min-width: 899px) {
    #precentation > div {
        width: 900px;
    
        grid-template-columns: 400px auto;
        grid-template-rows: 400px;
    }
    
    #profile_img {
        width: 400px;
        height: 400px;
    }
    
    #profile_img > img {    
        filter:
        drop-shadow(12px 12px 0px var(--white-hex))
        drop-shadow(12px -12px 0px var(--white-hex))
        drop-shadow(-12px -12px 0px var(--white-hex))
        drop-shadow(-12px 12px 0px var(--white-hex))
        drop-shadow(-12px 0px 0px var(--white-hex));
    }
    
    #greeting .icons * {
        width: initial;
    }
}

@media (min-width: 1439px) {
    #precentation > div {
        width: 1440px;
    
        grid-template-columns: 600px auto;
        grid-template-rows: 600px;
    }
    
    #profile_img {
        width: 600px;
        height: 600px;
    }
    
    #profile_img > img {    
        filter:
        drop-shadow(18px 18px 0px var(--white-hex))
        drop-shadow(18px -18px 0px var(--white-hex))
        drop-shadow(-18px -18px 0px var(--white-hex))
        drop-shadow(-18px 18px 0px var(--white-hex))
        drop-shadow(-18px 0px 0px var(--white-hex));
    }
}

/* About me */

#about_me div {
    width: 300px;
    height: 500px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#about_me div > * {
    text-align: center;
    color: var(--blue-hex);
}

#about_me div > h3 {
    width: 260px;
    margin-top: 50px;
}

@media (min-width: 899px) {
    #about_me div {
        width: 900px;
        height: 600px;
    }
    
    #about_me div > h3 {
        width: 750px;
    }
}

@media (min-width: 1439px) {
    #about_me div {
        width: 1440px;
        height: 600px;
    }
    
    #about_me div > h3 {
        width: 1100px;
    }
}

/* Skill set */

#skill_set {
    background-color: var(--blue-hex);
    height: fit-content;
}

#skill_set > div {
    width: 300px;
    margin: 0 auto;

    display: grid;
    justify-content: center;
    
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
}

#skill_set header {
    display: flex;
    align-items: center;

    padding: 25px 0;
}

#skill_set header > h1 {
    color: var(--white-hex);
    margin: 0 auto;
}

#skill_set nav {
    /* min-width: 600px; */

    height: 200px;
    
    display: grid;
    justify-content: center;
    
    grid-template-columns: 150px;
    grid-template-rows: repeat(3, 40px);

    align-content: space-evenly;
}

#skill_set nav > h4 {
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--white-hex);
    font-weight: bold;
    
    cursor: pointer;
    
    transition: var(--animation);
}

#skill_set nav > h4:hover {
    background-color: var(--blue-light-hex);
}

#skill_set nav > h4.active {
    color: var(--blue-hex);
    background-color: var(--white-hex);
    
    transition: var(--animation);
}

#skill_set #skills_container {
    height: fit-content;

    padding: 25px 0;
}

#skill_set #skills_container > div {
    width: 100%;
    height: 800px;
    
    display: none;
    
    grid-template-columns: 170px;
    grid-template-rows: repeat(4, 170px);
    
    justify-content: center;
    align-content: space-between;
    
}

#skill_set #skills_container .active {
    display: grid;
}

#skill_set #skills_container > div > div {
    display: grid;

    align-content: space-evenly;
    justify-content: center;

    grid-template-columns: 90px;
    grid-template-rows: 90px 20px;

    background-color: var(--white-hex);
    border-radius: 12px;
}

#skill_set #skills_container > div img {
    height: 100%;

    margin: 0 auto;

    border-radius: 8px;
}

#skill_set #skills_container > div span {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 699px) {

    #skill_set #skills_container > div {
        height: 700px;

        grid-template-columns: 300px;
        grid-template-rows: repeat(4, 150px);
    }

    #skill_set #skills_container > div > div {    
        grid-template-columns: 75px 160px;
        grid-template-rows: 75px;
    }
}

@media (min-width: 899px) {    
    #skill_set > div {
        width: 900px;
    }

    #skill_set header {
        padding: 50px 0;
    }
    
    #skill_set nav {    
        width: 900px;
        height: 100px;
        
        justify-content: space-evenly;
        
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: 40px;
    
    }
    
    #skill_set #skills_container {    
        padding: 50px 0;
    }
    
    #skill_set #skills_container > div {
        width: 900px;
        height: 300px;

        align-content: space-evenly;
        justify-content: space-around;
        
        grid-template-columns: repeat(2, 370px);
        grid-template-rows: repeat(2, 100px);
        
    }
    
    #skill_set #skills_container > div > div {
        align-items: center;
        justify-content: space-around;
    
        grid-template-columns: 70px 180px;
        grid-template-rows: 70px;
    }
}

@media (min-width: 1439px) {
    #skill_set > div {
        width: 1440px;
    }
    
    #skill_set nav {    
        width: 1440px;
        height: 150px;
        
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: 55px;
    }
    
    #skill_set #skills_container > div {
        width: 1440px;
        height: 500px;
        
        grid-template-columns: repeat(2, 450px);
        grid-template-rows: repeat(2, 150px);
        
    }
    
    #skill_set #skills_container > div > div {
    
        grid-template-columns: 75px 250px;
        grid-template-rows: 75px;
    }
}

/* Experience */

#experience > div {
    width: 300px;
    
    padding: 50px 0;
    margin: 0 auto;
}

#experience nav {
    display: grid;
    
    grid-template-columns: 170px;
    grid-template-rows: repeat(2, 80px);
    
    justify-content: space-evenly;
    align-items: center;
    
    color: var(--blue-hex);
}

#experience nav > h3 {
    text-align: center;
    
    padding: 10px;
    border-radius: 8px;
    transition: var(--animation);
}

#experience nav > h3:hover {
    background-color: var(--gray-light-hex);
    cursor: pointer;
    transition: var(--animation);
}

#experience nav h3.active {
    background-color: var(--blue-hex);
    color: var(--white-hex);
}

#experiences_container {
    width: 100%;
}

#experiences_container > div {
    width: 100%;

    overflow-x: auto;
    
    display: none;
}

#experiences_container > div::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}

#experiences_container > div::-webkit-scrollbar-thumb {
    width: 9px;
    height: 9px;
    
    border: solid 1px var(--white-hex);
    border-radius: 8px;
    
    background-color: var(--blue-hex);
}

#experiences_container > .active {
    display: block;
}

#experiences_container .vertical_grid {
    width: fit-content;

    margin: 0 auto;

    display: flex;

    justify-content: space-between;
}

#experiences_container .vertical_grid > div {
    width: 265px;
    height: 300px;
    
    margin: 50px 18px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    color: var(--blue-hex);
    border: solid 2px var(--blue-hex);
    
    border-radius: 15px;

    transition: var(--animation);
}

#experiences_container .vertical_grid > div:hover {
    background-color: var(--blue-light-hex);
    color: var(--white-hex);

    cursor: pointer;

    transition: var(--animation);
}

#experiences_container .vertical_grid header {
    
    width: 200px;
    height: 140px;
    
    border: solid 2px var(--blue-hex);
    border-radius: 8px;
    
    overflow: hidden;
    
    position: relative;
}

#experiences_container .vertical_grid img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

#experiences_container .vertical_grid footer {
    width: 100%;
    
    position: absolute;
    bottom: 0;
    
    font-size: 18px;
    font-weight: bold;

    text-align: center;
    
    background-color: var(--blue-hex);
    color: var(--white-hex);
    
    display: none;
}

#experiences_container .vertical_grid footer.active {
    display: block;
}

@media (min-width: 899px) {
    #experience > div {
        width: 900px;
    }
    
    #experience nav {
        display: grid;
        
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: 90px;
    }
}

@media (min-width: 1439px) {
    #experience > div {
        width: 1440px;
    }
    
    #experience nav {
        display: grid;
        
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 80px;
    }

    #experiences_container > * {
        width: 1440px;
    }
    #experiences_container .vertical_grid {
        width: fit-content;
        justify-content: space-around;
    }

    #experiences_container .vertical_grid > div {
        width: 300px;
        height: 325px;
        
        margin: 50px;
    }
    
    #experiences_container .vertical_grid header {
        width: 220px;
        height: 160px;
    }
    
    #experiences_container .vertical_grid footer {
        font-size: 21px;
    }
}

/* Contact me */

#contact_me {
    background-color: var(--blue-hex);

    color: var(--white-hex);
}

#contact_me > div {
    width: 300px;
    height: 400px;

    margin: 0 auto;
    display: flex;

    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#contact_me .icons {
    width: 100%;

    justify-content: space-around;
}
#contact_me .icons > div {
    width: 55px;
    height: 55px;
    
    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 100%;
    
    background-color: var(--white-hex);
}

#contact_me .icons img {
    width: 35px;
}

@media (min-width: 899px) {  
    #contact_me > div {
        width: 900px;
        height: 500px;
    }
}

@media (min-width: 1439px) {
    #contact_me > div {
        width: 1440px;
    }
}